<body>
    <div class="col-lg-10 col-lg-offset-1 event_container">
      <div class="row">
        <% @events.each do |event| %>
        <div class="col-md-6 col-sm-8">
          <div class="card card-event">
             <%= link_to event_path(event) do %>
               <img class="card-img" src="https://i.pinimg.com/564x/ec/15/7d/ec157df94e4b934162d5a306e078843d.jpg">
            <div class="card-body">
              <h1 class="card-title"> <%=event.title%></h1>
              <p class="card-text"> <%=event.location%></p>
            </div>
          </div>
          <% end %>
        </div>
        <% end %> 
      </div> 
    </div>
</body>