<body>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/564x/ec/15/7d/ec157df94e4b934162d5a306e078843d.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Exhibition</h5>
      <p class="card-text">We hosted a variety of exhibitions.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/564x/67/f5/5b/67f55bf8db4a0a424b727b63b15c7582.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Workshop</h5>
      <p class="card-text">Join us for a fun workshop.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/564x/87/81/b3/8781b3293e3ce95c9b935757a2281e4e.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Meetups</h5>
      <p class="card-text">Make new friends at our meetups.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>



  
</body>