<body>

<div class="card-deck">
  <div class="event-card">
    <img class="card-img-event" src="https://i.pinimg.com/564x/ec/15/7d/ec157df94e4b934162d5a306e078843d.jpg">
    <div class="card-body">
      <h5 class="card-title">Exhibition</h5>
      <p class="card-text">We hosted a variety of exhibitions.</p>
    </div>

  </div>
  <div class="event-card">
    <img class="card-img-event" src="https://i.pinimg.com/564x/67/f5/5b/67f55bf8db4a0a424b727b63b15c7582.jpg" >
    <div class="card-body">
      <h5 class="card-title">Workshop</h5>
      <p class="card-text">Join us for a fun workshop.</p>
    </div>
</div>





  
</body>