

  
    <nav class="nav navbar-nav navbar-fixed-left navbar-light bg-light">
        <div class="product-profile-image">
        </div>
    </nav>
  <div class="product-container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
    <div class="event-intro">
      <h3 class="project-title"><%= @event.title %></h3>
       <p class="project-brief"><%= @event.location %></p>
      <p class="project-description"><%= @event.text %></p>

     </div>
   </div>
    </div>  
  </div>
</div>


</div>
</div>


