<main class="layout__main">
      <section class='hero'>
        <div class="hero-block hero-block--header">
          <h1 class="hero-title">
            Toysreborn <em>玩具改造.2019.</em>
            
          </h1>
          <p class="hero-text"><a href="" target="_blank">什么是玩具改造项目？ </a><br>玩具改造项目 是亘心设计2019的项目.
          	<br> <a href="" target="_blank">为什么要做玩具改造？<br> </a>
          	回收玩具是一种环保的行为，改造玩具是激发创造力的过程
	<br><a href="" target="_blank">怎么做玩具改造？</a></p>
        </div>
      </section>
</main>



