
.project_container{
	margin-top: 60px;
}
.card-project{
	height: 300px;
  margin: 20px 0px 0px 0px;
}

.card-img-top{
  width: 100%;
  display: block;
  height: auto;
}
.card-img-back {
  width: 100%;
  display: block;
  height: auto;
}
.card-body{
  border: 1px solid #f1f1f1;
	height: 100px;
	padding: 20px 20px 0px 20px;
}
.card-title{
  height:10px;
  font-family: var(--ccft-ts-secondary);
  color: rgb(122, 122, 122);
  font-size: 1rem;
  font-style: normal;
  line-height: 2;
}
.card-text{
  color: rgb(122, 122, 122);
  font-size: .92rem;
  line-height: 1.25;
}



/* The flip box container */
.flip-box {
  height: 200px;
  background-color: white;
  perspective: 1000px; 
}


.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}


.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-box-front {
  background-color: white;
}


.flip-box-back {
  background-color: white;
  transform: rotateY(180deg);
}



/* The nav bar */
.product-profile-image{
  padding: 5px, 5px, 5px, 5px;
}
.profile-image{
  width:290px;
  margin: 5px, 5px, 5px, 5px;
}

.navbar-fixed-left {
  width: 300px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 250px;
  padding-left:20px;
}

.navbar-fixed-left + .product-container {
  padding-left: 320px;
}






/* Project Intro */
.project-intro{
  margin: 20px;
}

.project-title{
  height:30px;
  font-family: var(--ccft-ts-secondary);
  color: rgb(122, 122, 122);
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1;
}
.project-brief{
  color: rgb(122, 122, 122);
  font-size: 1.1rem;
  line-height: 1.25;

}
.project-description{
   color: rgb(122, 122, 122);
  font-size: .92rem;
  line-height: 1.25;
}



.product-slider { 
  padding: 20px; }

.product-slider #thumbcarousel { 
  margin: 12px 0 0; padding: 0 45px;

  }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb {
 border: 4px solid #cecece; width: 20%; margin: 0 2%; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; 
}

.product-slider #thumbcarousel .item .thumb:hover {
 border-color: #1089c0; 
}

.product-slider .item img {
 width: 100%; height: auto; }

.carousel-control {
 text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; 
}

.carousel-control:hover, .carousel-control:focus, .carousel-control:active {
 color: black; }

.carousel-control { background-color: rgb(230,230,230); width: auto; }

#History{
  margin:100px 40px 0px 0px;
}
.project-process{
  width:80%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.process-division{
  color: rgb(122, 122, 122);
  font-size: 1.5rem;
  font-style: normal;
}